body{
	padding: 0;
	margin: 0;
	background:#white;
}

.navbar{
	background: linear-gradient(to bottom, black 0%, transparent 100%);
}

.navbar__black{
	background: black;
}

.nav-link , .navbar-brand{
	color: white;
	cursor: pointer;
}
.nav-link__top{
	margin-right: 1em !important;
}
.nav-link:hover{
	background: #f4f4f4;
	color: #f97300;

}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}

.landing-block{
	width: 100%;
    height: 100vh;
	background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../img/bg-masthead.jpg"), no-repeat, scroll, center;
	background-size: cover;
}

.landing-block_info{
	height: 100%;
	max-width: 550px;
	display: flex;
	flex-flow: column;
	margin: 0 auto;
	justify-content: center;
	color: white;
	text-align: center;
}

.nav-link:hover{
	background: unset;
}

.landing-block_info_p{
	font-size: 20px;
	opacity: .8;
}

.overlay{
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(244, 244, 244, 0.90);
}

.landing-block_description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;

}
.landing-block_description_h{
	color: white;
}
.landing-block_description_p{
	font-size: 20px;
	width: 50%;
	line-height: 1.5;
	opacity: .8;
}

.center-form-block {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: center;
	background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../img/bg-masthead.jpg"), no-repeat, scroll, center;
}

.center-form-block__inner {
	max-width: 550px;
	width: 100%;
	background: white;
	border-radius: 2em;
	padding: 3em;
	margin: 0 auto;
}

.invalid-feedback {
	display: block;
}

#smartwizard > .tab-content .tab-pane {
	padding: 1rem;
}

.center-form-block {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: center;
	background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../img/bg-masthead.jpg"), no-repeat, scroll, center;
}

.wrapper__applying {
	margin: 1rem;
	background: white;
	margin-top: 5rem;
}

.contest-table {
	text-align: center;
}

.file-drop-area {
	position: relative;
	display: flex;
	align-items: center;
	max-width: 100%;
	padding: 25px;
	border: 1px dashed rgba(0, 0, 0, 0.4);
	border-radius: 3px;
	transition: 0.2s
}

.file-drop-area.is-invalid {
	border: 1px dashed #dc3545;
	color: #dc3545;
}

.file-drop-area.is-valid {
	border: 1px dashed #28a745;
	color: #28a745;
}

.choose-file-button {
	flex-shrink: 0;
	background-color: rgba(255, 255, 255, 0.04);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	padding: 8px 15px;
	margin-right: 10px;
	font-size: 12px;
	text-transform: uppercase
}

.file-message {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.file-input {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	cursor: pointer;
	opacity: 0
}