{% extends "baseTemplate.twig" %}

{% block title %}Приемная комиссия{% endblock %}

{% block content %}
    <div class="landing-block">
        <div class="landing-block_info">
            <h1 class="landing-block_info_h">Приемная комиссия</h1>
            <p class="landing-block_info_p">
                Хочешь учится в нашем университете?
                Регистрируйся и подавай заявления на интересующие тебя специальности.
            </p>
            <button class="btn btn-primary btn-lg active">Зарегистрироваться</button>
        </div>
    </div>
{% endblock %}