{% extends "baseTemplate.twig" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <div class="registration-block">
        <div class="registration-block__inner">
            <h1 class="text-center">Регистрация</h1>
            <p>Вы успешно прошли регистрацию, на вашу почту отправленно письмо для завершения регистрации.</p>
            <a class="text_center" href="/">Вернуться на главную страницу</a>
        </div>
    </div>
{% endblock %}

