{% extends "baseTemplate.twig" %}

{% block title %}Ошибка{% endblock %}

{% block content %}
    <div class="center-form-block">
        <div class="center-form-block__inner">
            <h1 class="text-center">Произошла ошибка</h1>
            
        </div>
    </div>
{% endblock %}