<div class="main_help_block invalid-feedback"></div>
<div class="contests_block">
    <div class="form-group">
        <label>Выбор направления:</label>
        <select class="form-control" id="specialitySelect"></select>
        <small class="invalid-feedback"></small>
    </div>
    <div id="rootContestTable" class="table-responsive"></div>
</div>