<div class="form-group">
    <div class="form-row">
        <div class="col-md-10">
            <span>Подтверждаю, что подал заявление не более чем в 5 вузов</span>
        </div>
        <div class="col-md-2">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="confirm5vuz" name="confirm5vuz" value="1">
                <label class="form-check-label" for="confirm5vuz">Подтверждаю</label>
            </div>
        </div>
        <small class="invalid-feedback"></small>
    </div>
</div>

<div class="form-group">
    <div class="form-row">
        <div class="col-md-6">
            <span>Буду использовать особые права</span>
        </div>
        <div class="col-md-2">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="useSpecRight" id="useSpecRightTrue" value="1">
                <label class="form-check-label" for="useSpecRightTrue">Да</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="useSpecRight" id="useSpecRightFalse" value="0" checked>
                <label class="form-check-label" for="useSpecRightFalse">Нет</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="confirmUseSpecRight" id="confirmUseSpecRight" value="1">
                <label class="form-check-label" for="confirmUseSpecRight">Подтверждаю</label>
            </div>
        </div>
        <small class="invalid-feedback"></small>
    </div>
</div>

<div class="form-group">
    <div class="form-row">
        <div class="col-md-10">
            <span>Ознакомлен с правилами приема в университет, с копией лицензии с копией свидетельства о государственной аккредитации и приложениями с ним по выбранному направлению подготовки, уставом университета, условиями обучение, перечнем направлений подготовки, количеством мест, финансируемых из федерального бюджета, с информацией о предоставлении особых прав и преимуществ, с правилами подачи апелляции ознакомлен(-а).</span>
        </div>
        <div class="col-md-2">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="confirmVuzRules" id="confirmVuzRules" value="1">
                <label class="form-check-label" for="confirmVuzRules">Подтверждаю</label>
            </div>
        </div>
        <small class="invalid-feedback"></small>
    </div>
</div>

<div class="form-group">
    <div class="form-row">
        <div class="col-md-10">
            <span>Ознакомлен с датами предоставления заявления о согласии на зачисление и с датами предоставление оригинала документа об образовании на каждой стадии зачисления на места в рамках контрольных цифр, с датами завершения предоставления заявлений о согласии на зачисление ознакомлен(-а).</span>
        </div>
        <div class="col-md-2">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="confirmApplyingRules" id="confirmApplyingRules" value="1">
                <label class="form-check-label" for="confirmApplyingRules">Подтверждаю</label>
            </div>
        </div>
        <small class="invalid-feedback"></small>
    </div>
</div>

<div class="form-group">
    <div class="form-row">
        <div class="col-md-10">
            <span>Предоставляя свои персональные данные Пользователь даёт согласие на обработку, хранение и использование своих персональных данных на основании ФЗ № 152-ФЗ «О персональных данных» от 27.07.2006 г.</span>
        </div>
        <div class="col-md-2">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="confirmDataProcessing" id="confirmDataProcessing" value="1">
                <label class="form-check-label" for="confirmDataProcessing">Подтверждаю</label>
            </div>
        </div>
        <small class="invalid-feedback"></small>
    </div>
</div>

<div class="form-group">
    <span>Переписать от руки следующий пункт заявления, поставить подпись, расшифровку подписи, отсканировать или сфотографировать и прикрепить файл.</span>
    <blockquote class="blockquote">Достоверность сведений, указанных в заявлении, подлинность предоставленных электронных образов документов гарантирую. С информацией от ответственности за недостоверность сведений и документов ознакомлен</blockquote>
    <div class="form-group files">
        <label for="passportFile">Cкан документа:</label>
        <div class="file-drop-area">
            <span class="choose-file-button">Выберите файл</span>
            <span class="file-message">или перетащите его в это поле</span>
            <input type="file" class="file-input" id="correctInfoFile" name="correctInfoFile">
        </div>
    </div>
</div>
