<input type="hidden" name="id" value="{{ leaver.id }}">
<input type="hidden" name="guid" value="{{ leaver.guid }}">
<input type="hidden" name="email" value="{{ leaver.email }}">
<input type="hidden" name="statusEmail" value="{{ leaver.statusEmail }}">
<div class="form-check">
    <input class="form-check-input" type="radio" name="urov" id="urovCheck1" value="62">
    <label class="form-check-label" for="urovCheck1">
        Бакалавриат
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="urov" id="urovCheck2" value="68">
    <label class="form-check-label" for="urovCheck2">
        Магистратура
    </label>
</div>
<div class="form-check disabled">
    <input class="form-check-input" type="radio" name="yrov" id="urovCheck3" value="70">
    <label class="form-check-label" for="urovCheck3">
        Асперантура
    </label>
</div>