{% extends "baseTemplate.twig" %}

{% block title %}Подача заявления{% endblock %}

{% block content %}
    <div class="registration-block">
        <div class="registration-block__inner">
            <h1 class="text-center">Подача заявления</h1>
            <p>Заявление успешно поданно, проверьте почту что бы получить данные для входа.</p>
            <a class="text_center" href="/">Вернуться на главную страницу</a>
        </div>
    </div>
{% endblock %}
